#about {
    display: flex;
    padding: 4% 0;
    /* margin: 4% 0; */
}

.left {
    /*width: 30%; */
    flex: 3;
}

.right {
    /*width: 70%; */
    flex: 7;
    margin:;
}


main{
    display: flex;
    color: aliceblue;
}


#mijnpaginas{
    padding-top: 5%;
    background-color: rgb(5, 77, 1);
    border-radius: 10%;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
}



html {
    background-color: rgba(64, 255, 0, 0.365);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/elien-decommer-tVs0XqDhta0.jpg);
}
footer {
    background-color: rgb(15, 142, 9);
    border: 2px solid  rgb(168, 255, 125);
    margin: 5%;
    text-align: center;
}

#about {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    background-color: rgb(5, 77, 1);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10%;
}

header {
    text-align: center;
    margin-top: 2%;
    color: aliceblue;
}



